@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

html,
body {
  position: relative;
  width: 100%;
  /* height: 100%; */
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}

* {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: "Roboto Mono", monospace;
}

input {
  font-family: "Roboto Mono", monospace;
}
